NEXT_PUBLIC_SITE_URL=https://blackjack-chi-rust.vercel.app
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_BASE_APP_ID=
NEXT_PUBLIC_BUILDER_CODE=bc_dj36m32x
NEXT_PUBLIC_CHECK_IN_CONTRACT_ADDRESS=0xB2e8166c7F679d80916099Bc714FC19B73E0ceCf
